# Ensure consistent line endings
* text=auto

scripts/ export-ignore

# Classify files by language for GitHub statistics
*.ts linguist-language=TypeScript
*.js linguist-language=JavaScript
*.html linguist-language=HTML