# Ignore source files, examples, and other dev files
src/
examples/
scripts/
tests/
node_modules/
.github/
.gitignore
.gitattributes
package-lock.json
npm-debug.log*
CHANGELOG.md
rollup.config.js
tsconfig.json