*, *::before, *::after {
	box-sizing: border-box;
}
body {
    margin: 0;
    height: 100dvh;
    display: flex;
}
#form {
    max-width: 500px;
    margin: auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
    background-color: #f5f5f5;
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
}
#form > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
label {
    font-size: 12px;
    font-family: Helvetica;
    font-weight: bold;
    color: #141111;
    text-transform: uppercase;
}
input, button {
    background-color: white;
    border: 1px solid lightgrey;
    padding: 4px 16px;
    border-radius: 4px;
    line-height: 1.4;
    font-size: 14px;
}
input[type="file"] {
	padding: 0px 16px 0px 0px;
}
input:focus {
    background-color: #efe4ff;
}
input::file-selector-button {
	content: 'Upload';
	background-color: lightgrey;
	border: none;
	padding: 4px 16px;
	border-radius: 0;
	line-height: 1.4;
    font-size: 14px;
}
input:focus-visible, button:focus-visible {
    outline: none;
    border-color: #cca2ff;
}
button {
    cursor: pointer;
    background-color: #e1ceff;
    color: #6739af;
    text-transform: uppercase;
    font-weight: bold;
}
button:hover {
    background-color: #6739af;
    color: #fff;
    border-color: #45178d;
}
.validation-error {
    color: #ff00a3;
    font-family: monospace;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
}